@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
html {
    font-size: 15px;
}
body {
    background-color: #eceff1;
}
.wrapper {
    font-family: 'Geist', 'Segoe UI', 'Ubuntu', 'Helvetica', 'Tahoma', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.wrapper h1 {
    font-weight: 300;
    color: #8b8b8b;
    font-size: 1.375rem;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #212121;
    }
}
