@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: #eceff1;
}
.wrapper {
    max-width: 1350px;
    font-family: 'Poppins', 'Segoe UI', 'Ubuntu', 'Helvetica', 'Tahoma', sans-serif;
    font-size: 18px;
    background-color: #fff;
    color: #000;
    margin: 20px auto;
    border: 1px solid #ffcdd2;
    box-shadow: 2px 2px 25px 2px rgb(207 207 207);
}
.wrapper .icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    filter: invert(1);
}
.wrapper .icon.arrow-down:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");
}
.wrapper .title {
    font-size: 22px;
    font-weight: 300;
    background-color: #ec407a;
    color: #fff;
    padding: 10px 20px;
}
.wrapper .details .hljs-ln {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}
.wrapper .details .hljs-ln-numbers {
    border-right: 1px solid lightgray;
    white-space: nowrap;
    width: auto;
}
.wrapper .details .hljs-ln-n {
    color: gray;
    padding-right: 15px;
}
.wrapper .details .hljs-ln-current {
    background-color: rgb(237 87 139 / 10%);
}
.wrapper .details .hljs-ln-code {
    padding-left: 15px;
    width: 100%;
}
.wrapper .details .tabs {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.wrapper .details .tabs a {
    display: inline-block;
    color: #ed578b;
    background-color: transparent;
    border: 1px solid lightgray;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
}
.wrapper .details .tabs a.active {
    background-color: #ed578b;
    color: white;
    border-color: #ed578b;
}
.wrapper .title span {
    font-size: 13px;
    display: block;
    text-align: right;
}
.wrapper .title strong {
    font-size: 18px;
    display: block;
    margin-bottom: -3px;
}
.wrapper .details table tr.vendor.hide {
    display: none;
}
.wrapper .details code,
.wrapper .details i {
    word-break: break-word;
    font-size: 16px;
    display: block;
}
.wrapper .details {
    padding: 20px;
}
.wrapper .details i {
    color: #696969;
}
.wrapper .details i a {
    text-decoration: none;
}
.wrapper .details .stack-title,
.wrapper .details i b,
.wrapper .details table td .method {
    color: #ed578b;
}
.wrapper .details .time {
    font-size: 14px;
    color: gray;
    display: block;
}
.wrapper .details code {
    white-space: pre-wrap;
    margin: 15px 0;
    border: 1px solid gainsboro;
    padding: 15px;
}
.wrapper .details .args-toggle {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    background-color: #ed578b;
    padding: 5px 15px;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    color: #fff;
    transition: 0.3s all;
    margin-top: 10px;
}
.wrapper .details .args-toggle:hover {
    background-color: #ed576a;
}
.wrapper .details .tab pre.args {
    white-space: pre-wrap;
    word-break: break-all;
    background-color: #f1f1f1;
    border: 1px solid #dcdcdc;
    padding: 15px;
    color: #24292e;
    margin: 10px 0 0;
    display: none;
}
.wrapper .details .tab pre.args.show {
    display: block;
}
.wrapper .details table {
    width: 100%;
    table-layout: fixed;
    margin-top: 10px;
}
.wrapper .details table th {
    border: 1px solid #d3d3d3;
    padding: 10px;
    vertical-align: top;
    text-align: center;
    font-weight: 700;
    color: #ed578b;
    width: 40px;
}
.wrapper .details table th.auto {
    width: auto;
    text-align: left;
}
.wrapper .details table td {
    border: 1px solid #d3d3d3;
    padding: 10px;
    color: #24292e;
    word-break: break-all;
}
.wrapper .details table td i {
    color: #696969;
    display: block;
    font-size: 14px;
}
.wrapper .details table td .class {
    color: #d2024a;
    font-weight: 600;
}
.wrapper .details table td code {
    margin: 10px 0;
}
.wrapper .details .tab {
    display: none;
}
.wrapper .details .tab pre {
    white-space: wrap;
    margin: 0;
    font-size: 14px;
}
.wrapper .details .tab.active {
    display: block;
}
.wrapper .details .tab .stack-title {
    display: block;
    margin-top: 30px;
}
.wrapper .details .tab .stack-title:first-of-type {
    margin-top: 0;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #212121;
    }
    .wrapper .details .hljs-ln-current {
        background-color: rgb(69 90 100 / 30%);
    }
    .wrapper {
        box-shadow: 2px 2px 25px 2px rgb(18 18 18);
    }
    .wrapper .details code,
    .wrapper .details table th,
    .wrapper .details table td {
        border-color: dimgray;
    }
    .wrapper .details .hljs-ln-numbers {
        border-color: dimgray;
    }
    .wrapper .details .tab pre.args {
        background: #0d1117;
        border: #000;
        color: #c9d1d9;
    }
    .wrapper .details .args-toggle,
    .wrapper .title {
        background-color: #37474f;
    }
    .wrapper .details .args-toggle:hover {
        background-color: #455a64;
    }
    .wrapper {
        background-color: transparent;
        border-color: #455a64;
    }
    .wrapper .details i,
    .wrapper .details table td {
        color: #fff;
    }
    .wrapper .details .stack-title,
    .wrapper .details i b,
    .wrapper .details table td .class,
    .wrapper .details table th {
        color: #78909c;
    }
    .wrapper .details .time,
    .wrapper .details table td i {
        color: #d3d3d3;
    }
    .wrapper .details table td .method {
        color: #90a4ae;
    }
    .wrapper .details .tabs a {
        color: #90a4ae;
        border-color: #90a4ae;
    }
    .wrapper .details .tabs a.active {
        background-color: #455a64;
        border-color: #455a64;
    }
}
